.seo-line {
    background: linear-gradient(90deg, rgba(66,133,244,1) 0%, rgba(66,132,244,1) 30%, rgba(251,188,5,1) 35%, rgba(251,188,5,1) 50%, rgba(251,188,5,1) 65%, rgba(234,67,53,1) 70%, rgba(234,67,53,1) 100%);
    width: 30vw;
    height: 20px;
}
.small-line {
    background: rgb(168, 168, 168);
    width: 5vw;
    height: 10px;
}

.main-content {
    background-color: #34a853 !important;
    padding: 1vw;

}
.seo-divider {
    width: 90%;
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: 4.5vw;
}

.seo-divider{
    background: linear-gradient(90deg, rgba(52,168,83,1) 25%, rgba(251,188,5,1) 25%, rgba(251,188,5,1) 50%, rgba(66,133,244,1) 50%, rgba(66,133,244,1) 75%, rgba(234,67,53,1) 75%);
    height: 1vh;
}

.video-thumbnail {
    width: 100%;;
}

.video-thumbnail-description{
    font-size: 1.5rem !important;
}

/* add a media query to .video if screen is lower than 1024px */
@media only screen and (max-width: 1024px) {
    .video {
        border-right: none;
        border-bottom: 5px solid rgba(66,133,244,1);
        justify-content: center;
        display: flex;
    }
}

@media only screen and (min-width: 1024px) {
    .video {
        border-right: top;
        border-right: 5px solid rgba(66,133,244,1);
        justify-content: center;
        display: flex;

    }
    .video iframe {
        transform: translateX(-10px);
    }
}


.main-content .video-thumbnail-description {
    padding-left: 5%;
    align-self: center;
    text-align: left;
    font-size: 40px;
}