/* 
    Styling
*/

.page-container {
    flex: 1;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 5vw;
}

.title-wrapper {
    margin-top: 7vw;
}

.point {
    background-color: #62DB44;
    width: 20vw;
    height: 20px;
}

.video-description {
    margin-top: 5vw;
    padding-bottom: 3em;
}

.video-thumbnail {
    width: 80em;
    height: 40em;
    justify-self: center;
}

.divider {
    background-color: #788AA3;
    width: 90%;
    height: 2px;
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: 4.5vw;
}

.storyboard-title-wrapper {
    margin-bottom: 4vw;
}

.storyboard-content {
    margin-left: 3em;
    margin-right: 3em;
}
