/* 
    Styling
*/

.page-container {
    flex: 1;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 5vw;
}

.title-wrapper {
    margin-top: 7vw;
}

.react-line {
    background-color: #61DBFB;
    width: 20vw;
    height: 20px;
}

.video-description {
    margin-top: 5vw;
    padding-bottom: 3vw;
}

.main-content {
    background-color: dimgrey;
    padding: 1vw;
}

.video-thumbnail {
    width: 50em;
    height: 30em;
}

.main-content .video-thumbnail-description {
    align-self: center;
    text-align: center;
    font-size: 30px;
}

@media only screen and (max-width: 1024px) {
    .react-video {
        border-right: none;
        justify-content: center;
        display: flex;
    }
}

@media only screen and (min-width: 1024px) {
    .react-video {
        border-right: top;
        justify-content: center;
        display: flex;

    }
    .react-video iframe {
        transform: translateX(-10px);
    }
}


.react-divider {
    background-color: #61DBFB;
    width: 90%;
    height: 2px;
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: 4.5vw;
}

.storyboard-title-wrapper {
    margin-bottom: 4vw;
}
